@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "mytheme";
    default: true; /* set as default */
    prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */

    --color-base-100: rgba(12, 14, 23, 1);
    --color-base-200: rgba(13, 19, 34, 1);
    --color-base-300: rgba(28, 31, 43, 1);
    --color-base-content: rgba(255, 255, 255, 1);
    --color-primary: rgba(184, 132, 255, 1);
    --color-secondary: oklch(70% 0.25 200);
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral: oklch(50% 0.05 240);
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: rgba(161, 250, 255, 1);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(60% 0.28 25);
    --color-error-content: oklch(98% 0.01 25);
    --color-danger: rgba(220, 38, 38, 1);
    --color-danger-content: rgba(255, 255, 255, 1);
    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    /* border size */
    --border: 1px;
    /* effects */
    --depth: 1;
    --noise: 0;
}
@theme {
    --gradient-btn: 180deg, #97A9FF 0%, #B884FF 100%;
    --animate-float: float 3s ease-in-out infinite;
    --color-primary-content-para: rgba(148, 163, 184, 1);

    @keyframes float {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-50px);
        }
    }
}

.keep-line-breaks {
    white-space: pre-line;
}

.animated-background {
    background-size: 400%;
    -webkit-animation: animation 10s ease infinite;
    -moz-animation: animation 10s ease infinite;
    animation: animation 10s ease infinite;
}

@keyframes animation {
    0%, 100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}


.timelinec {
    position: relative;
    max-width: 700px;
    width: 100%;
    padding-left: 30px;
    border-left: 8px solid var(--color-base-300);
}

.timelinec-step {
    position: relative;
    margin-bottom: 40px;
}

.dotc {
    text-align:center;
    position: absolute;
    left: -50px;
    top: 4px;
    width: 30px;
    height: 30px;
    background: var(--color-primary);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--color-primary);
}
